#<Directory "/var/www/html/UADashboard">
    RewriteEngine On
    RewriteBase "/UADashboard"
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
#</Directory>